<h1 id="controls">Controls</h1>

<h2 id="shortcuts">Shortcuts</h2>

<table>
  <thead>
    <tr>
      <th>Shortcut</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ctrl + O</td>
      <td>Open Spectral image (ENVI file format).</td>
    </tr>
    <tr>
      <td>Ctrl + S</td>
      <td>Save image:</td>
    </tr>
    <tr>
      <td> </td>
      <td>- as HDR RGB image (exr) if opened image is spectral.</td>
    </tr>
    <tr>
      <td> </td>
      <td>- as LDR RGB image (png, jpeg …) if opened image is not spectral.</td>
    </tr>
    <tr>
      <td>F1</td>
      <td>Show Help.</td>
    </tr>
    <tr>
      <td>F5</td>
      <td>Refresh (reopen current file, doesn’t work with a PNG collection).</td>
    </tr>
  </tbody>
</table>

<h2 id="spectrum-graph">Spectrum graph</h2>

<h3 id="spectrum-selection">Spectrum selection</h3>

<table>
  <thead>
    <tr>
      <th>Control</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Left click</td>
      <td>Select one wavelength.</td>
    </tr>
    <tr>
      <td>Left click + drag</td>
      <td>Select a range of wavelengths.</td>
    </tr>
    <tr>
      <td>Left click (around start or end bar of selection) + drag</td>
      <td>Move start or end of selection.</td>
    </tr>
    <tr>
      <td>Right click</td>
      <td>Reset selection to fully displayed spectrum.</td>
    </tr>
    <tr>
      <td>Mouse wheel up</td>
      <td>Extend selection on both sides.</td>
    </tr>
    <tr>
      <td>Mouse wheel down</td>
      <td>Shrink selection on both sides.</td>
    </tr>
    <tr>
      <td>Middle click + drag OR Ctrl + Left click + drag (inside selection)</td>
      <td>Move selection.</td>
    </tr>
    <tr>
      <td>Left Arrow</td>
      <td>Move selection to the left.</td>
    </tr>
    <tr>
      <td>Right Arrow</td>
      <td>Move selection to the right.</td>
    </tr>
    <tr>
      <td>Mouse move</td>
      <td>Select nearest point on graph and display its value.</td>
    </tr>
  </tbody>
</table>

<h3 id="spectrum-x-axis-wavelength">Spectrum X-Axis (Wavelength)</h3>

<p>To make this shortcuts work, you need to uncheck the “Auto rescale wavelength” in the “Display” groupbox.</p>

<table>
  <thead>
    <tr>
      <th>Shortcut</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Shift + Mouse wheel up</td>
      <td>Extend wavelength range (x-axis) on both sides.</td>
    </tr>
    <tr>
      <td>Shift + Mouse wheel down</td>
      <td>Shrink wavelength range (x-axis) on both sides.</td>
    </tr>
    <tr>
      <td>Shift + Middle click + drag OR Ctrl + Shift + Left click + drag:</td>
      <td>Move wavelength range (x-axis).</td>
    </tr>
    <tr>
      <td>Shift + Left Arrow</td>
      <td>Move wavelength range (x-axis) to the right.</td>
    </tr>
    <tr>
      <td>Shift + Right Arrow</td>
      <td>Move wavelength range (x-axis) to the left.</td>
    </tr>
  </tbody>
</table>

<h2 id="image-widget">Image widget</h2>

<table>
  <thead>
    <tr>
      <th>Control</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mouse move</td>
      <td>Change selected pixel (if not locked).</td>
    </tr>
    <tr>
      <td>Left click</td>
      <td>Select and Lock pixel.</td>
    </tr>
    <tr>
      <td>Right click</td>
      <td>Unlock pixel and select.</td>
    </tr>
    <tr>
      <td>Mouse wheel up/down</td>
      <td>Zoom In/Out.</td>
    </tr>
    <tr>
      <td>Middle click + drag OR Ctrl + Left click</td>
      <td>Move image.</td>
    </tr>
    <tr>
      <td>Drag and drop a .hdr file (ENVI format)</td>
      <td>Open as ENVI file.</td>
    </tr>
  </tbody>
</table>

<h1 id="supported-file-formats">Supported file formats</h1>

<h2 id="spectral-images">Spectral images</h2>

<p>Three types of spectral images are supported:</p>
<ul>
  <li>PNG collections.</li>
  <li>ENVI files.</li>
  <li>ART raw files.</li>
</ul>

<h3 id="png-collection">PNG collection</h3>
<p>A png collection can be opened using <code class="highlighter-rouge">File</code> -&gt; <code class="highlighter-rouge">Open folder</code>. Each PNG image should be a gray image representing a dedicated wavelength. All PNGs must be in the same folder and the folder should not contain any other PNGs.</p>

<p>All PNGs filename must end with <code class="highlighter-rouge">_X</code> where <code class="highlighter-rouge">X</code> is a positive number indicating in which order the PNGs should be used. The UI provides a way to specify the mapping between the png number and the wavelengths.</p>

<p>An example of such image collection can be found at: <a href="http://www.cs.columbia.edu/CAVE/databases/multispectral/">http://www.cs.columbia.edu/CAVE/databases/multispectral/</a></p>

<h3 id="envi-file-format">ENVI file format</h3>
<p>The supported ENVI file format is described here: <a href="http://www.harrisgeospatial.com/docs/ENVIHeaderFiles.html">http://www.harrisgeospatial.com/docs/ENVIHeaderFiles.html</a>. It consists of a set of two files: a header (.hdr) and raw data (.raw).</p>

<p>Both files should have the same name (except for the extension) and placed in the same folder.</p>

<p>Some examples can be found here: <a href="http://icvl.cs.bgu.ac.il/hyperspectral/">http://icvl.cs.bgu.ac.il/hyperspectral/</a></p>

<h3 id="art-raw-file-format">ART Raw file format</h3>
<p>Spectral Viewer support reading of unpolarised spectral ART Raw format. This format is used by ART, The Advanced Rendering Toolkit physically based renderer <a href="https://cgg.mff.cuni.cz/ART/">https://cgg.mff.cuni.cz/ART/</a>.</p>

<h2 id="rgb-images">RGB images</h2>

<p>Some HDR and LDR RGB formats are supported: all the formats supported by Qt5, with the addition</p>
<ul>
  <li>OpenEXR format.</li>
  <li>PFM format.</li>
  <li>Ward’s HDR format.</li>
</ul>

<p>When a RGB image is opened, the Spectrum graph and Spectrum parameters panels automatically disappear.</p>

<h1 id="user-preferences">User preferences</h1>

<p>Some parameters are automatically saved and retrieved when the viewer gets re-opened:</p>
<ul>
  <li>Spectrum graph point size</li>
  <li>Last used folder</li>
  <li>Spectrum graph/parameters UI layout</li>
  <li>Application window size and position</li>
  <li>Image tools/infos layout</li>
</ul>
